body{
    background:#f4f7fb;
}

.card{
    border:none;
}

.form-control,
.form-select{
    border-radius:12px;
    padding:12px;
}

.btn{
    border-radius:12px;
}

.table{
    border-radius:12px;
    overflow:hidden;
}

.estado{
    background:#fff3cd;
    color:#856404;
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}
